//MISSOURIAN COLORS
$color-blue-01: #e7f0fa;
$color-blue-02: #b2d4f0;
$color-blue-03: #62b3e4;
$color-blue-04: #0094d4;
$color-blue-05: #0070b4;

$color-red-01: #fee7dc;
$color-red-02: #fabaa2;
$color-red-03: #f58667;
$color-red-04: #d95449;
$color-red-05: #af373e;

$color-green-01: #ebf5ed;
$color-green-02: #bbe0c6;
$color-green-03: #75c594;
$color-green-04: #00b272;
$color-green-05: #00904c;

$color-gray-01: #f6f6f6;
$color-gray-02: #d1d3d4;
$color-gray-03: #a5a7aa;
$color-gray-04: #7e8083;
$color-gray-05: #4d4d4f;

// DEFAULT SPACING
$space-05: .25rem !default; // 4px
$space-1: .5rem   !default; // 8px
$space-2:   1rem  !default; // 16px
$space-3: 1.5rem  !default; // 24px
$space-4:   2rem  !default; // 32px
$space-5:   3rem  !default; // 48px
$space-6: 4.5rem  !default; // 72px

// TYPOGRAPHY
$base-font-size: 16px !default;
$regular: 400 !default;
$bold: 600    !default;

// FONTS
$sans: "Source Sans Pro", Helvetica, Arial, sans-serif !default;
$serif: "Domine", Georgia, serif !default;
$base-font-size: 16px !default;
