{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "Safari 9",
          "IE 11"
        ]
      },
      "useBuiltIns": true,
      "modules": false
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "transform-async-to-generator"
  ]
}
