<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta property="fullbleed" content="<%= htmlWebpackPlugin.options.isFullbleed %>" />
    <meta property="slug" content="<%= htmlWebpackPlugin.options.project.slug %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Domine:400,700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>

  </head>
  <body>
    <div class="chart-container">
      <h2 class="headline">I am a headline</h2>
      <h2 class="headline-units">Dek or units, like percent change, Dec. 10-12, 2018</h2>

      <div class="chart"></div>
    </div>
  </body>

  <script>

    let obj = "<%= htmlWebpackPlugin.options.isFullbleed %>";

    let j = JSON.stringify(obj);

    console.log(obj);
  </script>

</html>
